.expos {
    text-align: center;
    display: flex; 
    padding: 10px;
}

.expo {
    text-align: center;
    flex: 1px;
    padding: 20px;
    background-color: #ffffff;
}

img {
    max-height: 261px;
    max-width: 670px;
}

h1 {
    color: #ffffff;
}

h2 {
    color: black;
    font-size: medium;
    text-align: left;
}
