.expos {
    /* background-color: #008EA1; */
    text-align: center;
    display: flex; 
    padding: 10px;
}

img {
    max-height: 261px;
    max-width: 670px;
}

.expo {
    text-align: center;
    flex: 1px;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    color: #008EA1;
}

h2 {
    color: black;
    font-size: medium;
    text-align: left;
}

@media(max-width: 600px){
    .expos{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }