body {
    background-color:#46D1DA ;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.logo .logo_desktop {
    display: none;
}

.logo_mobile {
    text-align: left;
}

h1 {
    text-align: center;
}

h1, h2 {
    color: white;
}

.dark_text {
    color: #008EA1;
}

.black_text {
    color: black;
    font-size: medium;
}

.container {
    /* background-color: #008EA1; */
    text-align: center;
    display: flex; 
    padding: 0px;
}

img {
    max-height: 461px;
    max-width: 670px;
}

.item {
    text-align: center;
    flex: 1px;
    padding: 10px;
    background-color: #008EA1;
    ;
}

.button {
    background-color: #3F12AB;
    padding: 10px 50px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav {
    text-align: center;
    margin: 0 auto;
}

ul {
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}

.events {
    /* background-color: #008EA1; */
    text-align: center;
    display: flex;
    gap: 10px;
}

.news {
    text-align: center;
    margin: 10px;
    flex: 10px;
    flex-direction: column;
    grid-template-columns: 1fr;
    background-color: white;
}

.hours {
    color: white;
    text-align: center;
    font-size: small;
}

.contact {
    color: white;
    text-align: center;
}

.location {
    color: white;
    text-align: center;
}

footer {
    background-color: #008EA1;
}

.expos {
    /* background-color: #008EA1; */
    text-align: center;
    display: flex; 
    padding: 10px;
}

.expo {
    text-align: center;
    flex: 1px;
    padding: 20px;
    background-color: #ffffff;
}

@media(min-width: 500px){
    .logo_mobile {
        text-align: center;
    }
  }

@media(min-width: 500px){
  nav {
    text-align: right;
}
}

@media(min-width: 500px){
    nav li {
        display: inline-block;
        margin-left: 10px;
        background-color: #008EA1;
        padding: 10px 50px;
        border-radius: 8px;
  }
  }

@media(min-width: 500px){
    .logo .logo_desktop {
        display: block;
  }
    .logo .logo_mobile {
        display: none;
    }
  }

  @media(max-width: 600px){
    .container {
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }

  @media(max-width: 600px){
    .events {
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }

  @media(max-width: 600px){
    .expos{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }

  .visit {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
  }

  .subject {
    text-align: center;
    color: rgb(0, 0, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(255, 255, 255, 0.69);
    height: 395px;
    margin: 0 auto;
  }