body {
    background-color:#46D1DA ;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
}

h1 {
    color: #008EA1;
    font-family:    /* Add font to the code ; Phosphate inline and solid*/
}

