body {
    background-color:#46D1DA ;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.logo .logo_desktop {
    display: none;
}

.logo_mobile {
    text-align: left;
}

h1, h2 {
    color: white;
}

.dark_text {
    color: #008EA1;
}

.container {
    /* background-color: #008EA1; */
    text-align: center;
    display: flex; 
    padding: 0px;
}

.item {
    text-align: center;
    flex: 1px;
    padding: 10px;
    background-color: #008EA1;
    ;
}

.button {
    background-color: #3F12AB;
    padding: 10px 50px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav {
    text-align: center;
    margin: 0 auto;
}

ul {
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}

.news {
    text-align: center;
    background-color: white;
    text-align: left;
    padding: 10px;
      flex-direction: column;
      grid-template-columns: 1fr;
}

.hours {
    color: white;
    text-align: center;
}

.contact {
    color: white;
    text-align: center;
}

.location {
    color: white;
    text-align: center;
}

footer {
    background-color: #008EA1;
}

@media(min-width: 500px){
    .logo_mobile {
        text-align: center;
    }
  }

@media(min-width: 500px){
  nav {
    text-align: right;
}
}

@media(min-width: 500px){
    nav li {
        display: inline-block;
        margin-left: 10px;
        background-color: #008EA1;
        padding: 10px 50px;
        border-radius: 8px;
  }
  }

@media(min-width: 500px){
    .logo .logo_desktop {
        display: block;
  }
    .logo .logo_mobile {
        display: none;
    }
  }

  @media(max-width: 600px){
    .container{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }